<nav>
  <h2> <%= link_to "Bare Bones Blog", root_path %> </h2>
  <div>
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "About", static_pages_about_path %>
      </li>
      <li>
        <%= link_to "Posts", posts_path %>
      </li>
      <li>
        <div>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>

        </div>
      </li>

    </ul>
    <!-- <form>
      <input type="search" placeholder="Search" aria-label="Search">
      <button type="submit">Search</button>
    </form> -->
  </div>
</nav>
